[submodule "roles/security"]
	path = roles/security
	url = git@github.com:spyrosk/ansible-role-security.git
[submodule "roles/firewall"]
	path = roles/firewall
	url = git@github.com:spyrosk/ansible-role-firewall.git
[submodule "roles/nginx"]
	path = roles/nginx
	url = git@github.com:spyrosk/ansible-role-nginx.git
[submodule "roles/php"]
	path = roles/php
	url = git@github.com:spyrosk/ansible-role-php.git
